<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/png/code-love.png" width="30" height="30">
    CODELOVE
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#why">¿Por qué CodeLove?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#about">¿Como funciona?</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <li class="nav-item active" *ngIf="!isLogued">
        <a class="nav-link" (click)="loginComponent.onOpenModal()">Iniciar Sesión |</a>
      </li>

      <li class="nav-item active" *ngIf="!isLogued">
        <a class="nav-link" routerLink="/register">Registrate</a>
      </li>

      <li class="nav-item active dropdown" *ngIf="isLogued">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user?.email}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" >Perfil de Usuario</a> -->
          <a class="dropdown-item" (click)="onLogout()">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<app-login></app-login>
