<div class="container mt-5">
  <div class="row d-flex">

    <div class="card mx-auto-col-lg-8 col-md-8 col-sm-12">
      <h2 class="mt-4 text-danger mx-auto">Registro de usuario</h2>

      <div class="container">
        <form class="row mt-2" >
          <mat-form-field class="col-10 mx-auto" color="accent">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ej. dan@gmail.com">
          </mat-form-field>
          <mat-form-field class="col-10 mx-auto" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="*********">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>

    </div>

  </div>
</div>
