<section class="w-100 mt-1 mb-2">
  <div class="col-12 mt-1 px-0 view">
    <video src="assets/videos/video.mp4" class="bg-video" autoplay muted loop></video>
    <div class="mask d-flex">
      <a><img src="assets/png/c++.png" class="img-fluid icon"></a>
      <a><img src="assets/png/java.png" class="img-fluid icon"></a>
      <a><img src="assets/png/python.png" class="img-fluid icon"></a>
    </div>
  </div>
</section>

<section class="container" id="why">
  <div class="row">
    <div class="col-12">
      <h2>¿Por qé CodeLove?</h2>
    </div>
    <div class="col-12">
      <p>¿Quieres conocer a alguien que comparta tu pasion por la programaciom?</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <video src="assets/videos/img1.mp4" class="frame-video" autoplay muted loop></video>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <p class="py-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium rem molestias quasi harum dolorum laboriosam optio minus, laudantium et deserunt, provident velit repellat deleniti quia sapiente sed ea enim.</p>
    </div>
  </div>
</section>
