<section class="w-100 mt-1 mb-2">
  <div class="col-12 mt-1 px-0 view">
    <video src="assets/videos/video.mp4" class="bg-video" autoplay muted loop></video>
    <div class="mask d-flex">
      <a routerLink="/profiles/c++"><img src="assets/png/c++.png" class="img-fluid icon"></a>
      <a routerLink="/profiles/java"><img src="assets/png/java.png" class="img-fluid icon"></a>
      <a routerLink="/profiles/python"><img src="assets/png/python.png" class="img-fluid icon"></a>
    </div>
  </div>
</section>

<section class="container" id="why">
  <div class="row">
    <div class="col-12">
      <h2 class="font-weight-bold text-danger">¿Por qué CodeLove?</h2>
    </div>
    <div class="col-12">
      <p>¿Quieres conocer a alguien que comparta tu pasión por la programación?</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <video src="assets/videos/img1.mp4" class="frame-video" autoplay muted loop></video>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <p class="py-auto">
        Vivir solter@ es algo que con el paso de los años se está normalizando
        en nuestra sociedad de programadores. No obstante, no tener pareja sigue
        siendo algo que causa dolor, en muchas ocasiones existen momentos en las
        que desearíamos tener a alguien que nos haga compañía.
      </p>
    </div>
  </div>
</section>

<!-- new -->
<section class="container mt-3 mb-5" id="about">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="font-weight-bold text-danger">¿Como Funciona?</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <p>1.- Empieza eligiando tu lenguaje de programación favorito para encontrar programadores con los mismos gustos que tù.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
      <a routerLink="/profiles/c++"><img src="assets/png/c++.png" class="img-fluid icon1"></a>
      <a routerLink="/profiles/java"><img src="assets/png/java.png" class="img-fluid icon1"></a>
      <a routerLink="/profiles/python"><img src="assets/png/python.png" class="img-fluid icon1"></a>
    </div>
  </div>
  <!-- /******************* -->
  <div class="row my-3">
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
      <img src="assets/png/registro.png" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <p class="mb-0">
        2.- Hacemos click en el apartado de registro -- Introduce todos los datos que requiera el formulario.
      </p>
    </div>
  </div>
  <!-- ********************************* -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <p>3.- ¡Listo para programar tu vida amorosa!</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      <img src="assets/img/teclado.jpeg" class="img-fluid img">
    </div>
  </div>
</section>

